body
{
	background:lightgray;
	color:black;
}/*body*/
h1
{
	color:white;
	background:green;
	text-align:center;
}/*h1*/
dt
{
	font-size:22px;
	font-family:cursive;
	text-indent:1em;
}/*dt*/
dd
{
	font-family:sans-serif;
	padding:10px;
	background:white;
	border:solid;
}/*dd*/