body
{
	background:green;
	color:white;
	margin: 0% 10% 0% 10%;
	border-style:dotted solid dashed;
	border-color:white;
}/*body*/
h1
{
	background:orange;
	color:blue;
}/*h1*/
h2
{
	color:black
}/*h2*/
p
{
	color:white;
	text-indent:1em;
}/*p*/