body
{
	background:lightgray
}/*body*/
h1
{
	color:white;
	background:green;
	text-align:center;
}/*h1*/
p
{
	font-size:22px;
	font-family:cursive;
	text-indent:1em;
}/*p*/
img
{
	display:block;
	margin:auto;
}/*img*/	
